
{% load static %}

{% include "includes/header.html"  with title="TSS Register" %}



<body class="login-page dark-mode" style="min-height: 466px;
                                          background-image: url({% static 'images/background-space.jpg'%});
                                          background-size: cover; background-repeat: no-repeat;">


<div class="login-box">
  <!-- /.login-logo -->
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
      <img src="{% static "images/TSS-logo-white.png" %}" style="width: 70%; margin: 30px;"/>
      <a href="/public_lobby/" class="h1" style="font-size: 3.5rem">THOUSAND SUNS SAGA</a>
    </div>
    <div class="card-body">
      <p class="login-box-msg">Création d'un compte utilisateur.</p>
      <p class="login-box-msg">Ce compte regroupera tous les personnages que vous incarnerez dans les différents serveurs de jeu.</p>


      <form id="create_user" method="POST">
        {% csrf_token %}
        <div class="input-group mb-3">
          <input name="username" type="text" class="form-control" placeholder="Pseudonyme">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input name="email" type="email" class="form-control" placeholder="Email">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input name="password" type="password" class="form-control" placeholder="Mot de passe">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" placeholder="Vérification mot de passe">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="text-center mt-2 mb-3">
            <button type="submit" class="btn btn-primary btn-block submit">S'inscrire</button>
        </div>

        {% include "includes/form_submit_to_json_api.js" with form="create_user" %}
      </form>

    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>
<!-- /.login-box -->


</body>
</html>