
{% load static %}
{% load i18n %}

{% include "includes/header.html" with title="Accueil TSS" %}

{% include "includes/menu_public.html" with page_title=_("Accueil TSS") %}  <!-- include body start -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <!--<h1>{% trans "Thousand Suns Saga"%}</h1>-->
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">


      <!------------------------------------------------------------------------------------------------------------>
      <!-- ACTIVE SERVERS -->


      <div class="card" style="margin-top: 40px;">

          <!--
        <div class="card-header">
          <h3 class="card-title">Serveurs de jeu</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
              <i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
        -->

        <div class="card-body p-0">
          <table class="table table-striped projects">
              <!--
              <thead>
              </thead>
              -->
              <tbody>
                <img src="{% static "images/public/main_presentation.png"%}"
                             style="height: 100%; padding: 30px;
                             display: block; margin-left: auto; margin-right: auto;">
              </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->


  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

</body>
</html>


