
{% load i18n %}
{% load static %}


{% include "includes/header.html" with title=colony.name %}

{% include "includes/menu_game.html" with page_title=colony.name %}  <!-- include body start -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <!--<h1>{% trans "Colonies"%} </h1>-->
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">


      <!--------------------------------------------------------------------------------------------------------->
      <!-- Corps central -->

      <form id="report-form" method="POST" action="/colonies/?category={{category}}&marker={{marker}}">
        {% csrf_token %}

        <input type="hidden" id="districts_type" name="districts_type" value="{{districts_type}}">


        <div class="card">
          <div class="table-responsive mailbox-messages" style="padding-bottom: 5px;">
            <table class="table table-striped" style="width: 100%; table-layout: auto;">
              <tbody>

                <tr class="background-img-colony{% if dark_mode %}-dark{% endif %}"
                    style='white-space: nowrap; position: relative; vertical-align: bottom;
                           background: url("{% static ""%}images/colony_landscape.png") no-repeat right center;
                           background-size: cover; '>

                  <td class="align-bottom" style="max-width: 15rem;">
                    <img class="rem15_large_img_without_td_padding" src="{% static ""%}{{colony.coordinate_image}}" style=""></td>

                  <td class="align-bottom" style="font-size: 20px; text-align: center;">
                    <b style="font-size: 35px;">{{colony.name}}</b>
                    <br>
                    <i class="fas fa-landmark"></i>
                    {% if colony.markers %} <br> {% endif %}

                          — <i class="fas fa-industry"></i>
                            <i class="fas fa-wheat-awn"></i>

                    {% for marker in colony.markers %}
                      <i class="fas {{marker}}"></i>
                    {% endfor %}
                  </td>

                  <td class="align-bottom">
                    <span>Secteur : {{colony.geographic_location.sector_id}}</span><br>
                    <span>Système : X {{colony.geographic_location.pos_x}} | Y {{colony.geographic_location.pos_y}}</span><br>
                    <span>Orbite : {{colony.geographic_location.pos_orbital}}</span><br>
                  </td>

                  <td class="align-bottom">
                    <span>Habitants : 1 000 000 <i class="fas fa-users"></i></span><br>
                    <span>Bonheur : 75% <i class="fas fa-masks-theater"></i></span><br>
                    <span>Ordre : 75% <i class="fas fa-person-military-pointing"></i></span>
                  </td>

                  <td class="align-bottom">
                    <span>Districts : {{colony.districts|length}}/3 <i class="fas fa-hexagon-nodes"></i></span><br>
                    <span>Travailleurs : 100% <i class="fas fa-hammer"></i></span>
                  </td>

                </tr>

              </tbody>
            </table>
            <!-- /.table -->
          </div>
        </div>

        <div class="card-body row">
                <div class="col-md-2">
                  <button type="button" class="btn btn{% if dark_mode %}-outline{% endif %}-info btn-block btn-flat"><i class="fa fa-users"></i>  {% trans "Population"%}</button>
                </div>
                <div class="col-md-2">
                  <button type="button" class="btn btn{% if dark_mode %}-outline{% endif %}-info btn-block btn-flat"><i class="fa fa-coins"></i>  {% trans "Economie"%}</button>
                </div>
                <div class="col-md-2">
                  <button type="button" class="btn btn{% if dark_mode %}-outline{% endif %}-info btn-block btn-flat"><i class="fa fa-boxes-stacked"></i>  {% trans "Ressources"%}</button>
                </div>
                <div class="col-md-2">
                  <button type="button" class="btn btn{% if dark_mode %}-outline{% endif %}-info btn-block btn-flat"><i class="fa fa-person-rifle"></i>  {% trans "Défenses"%}</button>
                </div>
                <div class="col-md-2">
                  <button type="button" class="btn btn{% if dark_mode %}-outline{% endif %}-info btn-block btn-flat"><i class="fa fa-scale-balanced"></i>  {% trans "Politique"%}</button>
                </div>
                <div class="col-md-2">
                  <button type="button" class="btn btn{% if dark_mode %}-outline{% endif %}-info btn-block btn-flat"><i class="fa fa-book"></i>  {% trans "Détails"%}</button>
                </div>
        </div>



          <div class="card card-primary card-outline">
            <div class="card-header">
              <h3 class="card-title">{% trans "Districts"%}</h3>

              <div class="card-tools">
                <div class="input-group input-group-sm">

                  <!-- DISTRICTS FILTERS -->
                  <span class="card-title nav-pills" style="padding-top: 0.2rem;}">

                    {% trans "Filtrer par types"%} :  

                    <a href="/colony/?colony_id={{colony.id}}&districts_type=all" class="pills {% if districts_type == 'all' %}hover{% endif %}">
                      <span class="span_centering_icon"><i class="fas fa-infinity"></i></span>
                    </a>
                    <a href="/colony/?colony_id={{colony.id}}&districts_type=district_industrial" class="pills {% if districts_type == 'district_industrial' %}hover{% endif %}">
                      <span class="span_centering_icon"><i class="fas fa-industry"></i></span>
                    </a>
                    <a href="/colony/?colony_id={{colony.id}}&districts_type=district_mining" class="pills {% if districts_type == 'district_mining' %}hover{% endif %}">
                      <span class="span_centering_icon"><i class="fas fa-oil-well"></i></span>
                    </a>
                    <a href="/colony/?colony_id={{colony.id}}&districts_type=district_scientific" class="pills {% if districts_type == 'district_scientific' %}hover{% endif %}">
                      <span class="span_centering_icon"><i class="fas fa-flask"></i></span>
                    </a>
                    <a href="/colony/?colony_id={{colony.id}}&districts_type=district_economy" class="pills {% if districts_type == 'district_economy' %}hover{% endif %}">
                      <span class="span_centering_icon"><i class="fas fa-coins"></i></span>
                    </a>
                    <a href="/colony/?colony_id={{colony.id}}&districts_type=district_farming" class="pills {% if districts_type == 'district_farming' %}hover{% endif %}">
                      <span class="span_centering_icon"><i class="fas fa-wheat-awn"></i></span>
                    </a>
                    <a href="/colony/?colony_id={{colony.id}}&districts_type=district_military" class="pills {% if districts_type == 'district_military' %}hover{% endif %}">
                      <span class="span_centering_icon pills "><i class="fas fa-person-rifle"></i></span>
                    </a>
                    <a href="/colony/?colony_id={{colony.id}}&districts_type=district_nature" class="pills {% if districts_type == 'district_nature' %}hover{% endif %}">
                      <span class="span_centering_icon"><i class="fas fa-leaf"></i></span>
                    </a>
                    <a href="/colony/?colony_id={{colony.id}}&districts_type=district_empty" class="pills {% if districts_type == 'district_empty' %}hover{% endif %}">
                      <span class="span_centering_icon"><i class="fas fa-square-plus"></i></span>
                    </a>
                  </span>

                  </div>
                </div>

              <!-- /.card-tools -->
            </div>
            <!-- /.card-header -->

            <div class="card-body p-0">

              <div class="table-responsive mailbox-messages" style="padding-bottom: 5px;">
                <table class="table table-stripped" style="width: 100%; table-layout: auto;">
                  <tbody>

                    <tr class="" style='white-space: nowrap;'>

                      <td class="mailbox-date pointer_cursor">
                        <img class="large_img_without_td_padding" src="{% static ""%}{{colony.coordinate_image}}" style=""></td>

                      <td class="mailbox-subject" style="font-size: 20px; padding: 0.25rem; text-align: center;">
                        <b style="font-size: 35px;">{{colony.name}}</b>
                        <br>
                        <i class="fas fa-landmark"></i>
                        {% if colony.markers %} <br> {% endif %}

                              — <i class="fas fa-industry"></i>
                                <i class="fas fa-wheat-awn"></i>

                        {% for marker in colony.markers %}
                          <i class="fas {{marker}}"></i>
                        {% endfor %}
                      </td>

                      <td class="">
                        <span>Secteur : {{colony.geographic_location.sector_id}}</span><br>
                        <span>Système : X {{colony.geographic_location.pos_x}} | Y {{colony.geographic_location.pos_y}}</span><br>
                        <span>Orbite : {{colony.geographic_location.pos_orbital}}</span><br>
                      </td>

                      <td class="">
                        <span>Habitants : 1 000 000 <i class="fas fa-users"></i></span><br>
                        <span>Bonheur : 75% <i class="fas fa-masks-theater"></i></span><br>
                        <span>Ordre : 75% <i class="fas fa-person-military-pointing"></i></span>
                      </td>

                      <td class="">
                        <span>Districts : {{colony.districts|length}}/3 <i class="fas fa-hexagon-nodes"></i></span><br>
                        <span>Travailleurs : 100% <i class="fas fa-hammer"></i></span>
                      </td>

                    </tr>

                  </tbody>
                </table>
                <!-- /.table -->
              </div>
              <!-- /.mail-box-messages -->
            </div>
            <!-- /.card-body -->
          </div>
            <!-- /.card -->

      </form>

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

</body>
</html>
