
{% load static %}
{% load i18n %}

{% include "includes/header.html" with title="Rejoindre le serveur" %}

{% include "includes/menu_game.html" %}  <!-- include body start -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>{% trans "Nouveau commandant"%}</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card">
        <div class="card-body row">
          <div class="col-5 text-center d-flex align-items-center justify-content-center">
            <div class="">
              <h2>{{server.server_name}}</h2>
              <br/>
              Ouvert depuis le <br/>
              {{server.opening_date|date:'d/m/Y H:m'}}
              ({{server.open_since_days}}
              {% if server.open_since_days < 2 %}{% trans "jour"%}{% endif %}
              {% if server.open_since_days >= 2 %}{% trans "jours"%}{% endif %})
              <br/><br/>
              Joueurs actifs : {{server.active_commandants|length}}
              <br/>
              Joueurs morts : {{server.previous_commandants|length}}
              <br/>

            </div>
          </div>
          <div class="col-7">

            <form id="api_create_commandant" method="POST">
              {% csrf_token %}

              <div class="form-group">
                <label for="commandant_name">{% trans "Nom de votre commandant"%}</label>
                <input type="text" id="commandant_name" name="commandant_name" class="form-control" />
              </div>
              <div class="form-group">
                <label for="civilisation_name">{% trans "Nom de votre civilisation"%}</label>
                <input type="text" id="civilisation_name" name="civilisation_name" class="form-control" />
              </div>

              <div class="form-group">
                {% trans "Vous pourrez changer le nom de votre commandant ou de votre civilisation plus tard pour refléter les évolutions de votre roleplay. Néanmoins, cela ne sera possible que sur approbation de la communauté."%}

              </div>

              <div class="form-group">
                <input type="submit" class="btn btn-primary" value="{% trans "Rejoindre le serveur"%}">
              </div>

              {% include "includes/form_submit_to_json_api.js" with form="api_create_commandant" %}
            </form>

          </div>
        </div>
      </div>

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->


</body>
</html>
