
{% load i18n %}
{% load static %}


{% include "includes/head.html" with title=report.title %}

{% include "includes/menu_game.html" with page_title=_("Rapport") %}  <!-- include body start -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <!--<h1>{% trans "Rapport"%} </h1>-->
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <!--------------------------------------------------------------------------------------------------------->
      <!-- Corps central -->

        <!-- Default box -->
        <div class="card">
          <div class="card-body row">


            <div class="col-5 text-center d-flex align-items-center justify-content-center">
              <div class="">
                <img class="" src="{% static ""%}{{report.illustration}}" style="max-width: 90%; max-height: 90%;">
              </div>
            </div>


            <div class="col-7">
              <div class="card card-primary card-outline">
                <div class="card-body p-0">
                  <div class="mailbox-read-info">
                    <!-- Main content: report title and timestamp -->
                    <div class="d-flex justify-content-between align-items-center">
                      <div>
                        <p></p>
                        <h4>{{ report.title }}</h4>
                        <p></p>
                        <h6 class="grey_text">{{ report.tss_calendar }}</h6>
                        <p></p>
                      </div>

                      <!-- Sender's information and image aligned next to each other -->
                      <div class="d-flex align-items-center text-right">
                        <!-- Sender's name and government name aligned left of the image -->
                        <div class="text-left mr-3">
                          <p class="mt-2 mb-0">{{ report.sender_name }}</p>
                          <p class="mt-2 mb-0">{{ report.sender_gov_name }}</p>
                        </div>

                        <!-- Sender's image -->
                        <img src="{% static "" %}{{report.sender_image}}" style="max-height: 6em;">
                      </div>
                    </div>

                    <!-- Time at the bottom of the content -->
                    <span class="mailbox-read-time float-right"></span>
                  </div>
                  <!-- /.mailbox-read-info -->

                  <!-- TODO decide to put back or remove reports control at top of message
                  <div class="mailbox-controls with-border text-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-default btn-sm" data-container="body" title="Delete">
                        <i class="far fa-trash-alt"></i>
                      </button>
                      <button type="button" class="btn btn-default btn-sm" data-container="body" title="Reply">
                        <i class="fas fa-reply"></i>
                      </button>
                      <button type="button" class="btn btn-default btn-sm" data-container="body" title="Forward">
                        <i class="fas fa-share"></i>
                      </button>
                    </div>
                    <button type="button" class="btn btn-default btn-sm" title="Print">
                      <i class="fas fa-print"></i>
                    </button>
                  </div>-->
                  <!-- /.mailbox-controls -->

                  <div class="mailbox-read-message">
                    <p></p>
                    <p>{{report.message}}</p>
                  </div>
                  <!-- /.mailbox-read-message -->
                </div>
                <!-- /.card-body -->
                <!-- /.card-footer -->
                <div class="card-footer">
                  <form id="report-form" method="POST" action="/reports/">
                    {% csrf_token %}
                     <input type="hidden" id="reports[]" name="reports[]" value="{{report.id}}">


                    <div class="float-right">
                      <button type="submit" name="action" value="delete" class="btn btn-default"><i class="far fa-trash-alt"></i> {% trans "Supprimer"%}</button>
                    </div>
                    {% if report.status != "archived" %}
                      <button type="submit" name="action" value="archive" class="btn btn-default"><i class="fas fa-file-zipper"></i> {% trans "Archiver"%}</button>
                    {% else %}
                      <button type="submit" name="action" value="unarchive" class="btn btn-default"><i class="fas fa-file-zipper"></i> {% trans "Désarchiver"%}</button>
                    {% endif %}

                    <button type="submit" name="action" value="unread" class="btn btn-default"><i class="fas fa-envelope"></i> {% trans "Marquer comme non-lu"%}</button>

                  </form>
                </div>
                <!-- /.card-footer -->
              </div>
              <!-- /.card -->
            </div>
          </div>
        </div>



    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->


</body>
</html>
