
{% load i18n %}
{% load static %}


{% include "includes/header.html" with title="Rapports" %}

{% include "includes/menu_game.html" %}  <!-- include body start -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>{% trans "Rapports"%} </h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">


      <!--------------------------------------------------------------------------------------------------------->
      <!-- Corps central -->

      <form id="report-form" method="POST" action="/reports/?category={{category}}&status={{status}}">
        {% csrf_token %}

        <input type="hidden" id="category" name="category" value="{{category}}">
        <input type="hidden" id="status" name="status" value="{{status}}">


        <div class="row">
          <div class="col-md-2">

            <div class="card">
              <div class="card-header">
                <h3 class="card-title">{% trans "Catégories"%}</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <div class="card-body p-0">
                <ul class="nav nav-pills flex-column">

                  <li class="nav-item">
                    <a href="/reports/?category=all" rel="keep-params" class="nav-link {% if category == 'all' %}hover{% endif %}">
                      <span class="span_centering_icon"><i class="fas fa-inbox"></i></span>
                      {% trans "Tous les rapports"%}
                      {% if nb_unread_reports.all %}
                        <span class="report_count badge bg-primary float-right">{{nb_unread_reports.all}}</span>
                      {% endif %}
                    </a>
                  </li>

                  <li class="nav-item">
                    <a href="/reports/?category=cycle_summary" rel="keep-params" class="nav-link {% if category == 'cycle_summary' %}hover{% endif %}">
                      <span class="span_centering_icon"><i class="fas fa-file-invoice"></i></span>
                      {% trans "Bilan de cycle"%}
                      {% if nb_unread_reports.cycle_summary %}
                        <span class="report_count badge bg-primary float-right">{{nb_unread_reports.cycle_summary}}</span>
                      {% endif %}
                    </a>
                  </li>
                  <li class="nav-item active">
                    <a href="/reports/?category=space_combat" rel="keep-params" class="nav-link {% if category == 'space_combat' %}hover{% endif %}">
                      <span class="span_centering_icon"><i class="fas fa-jet-fighter"></i></span>
                      {% trans "Combats spatiaux"%}
                      {% if nb_unread_reports.space_combat %}
                        <span class="report_count badge bg-primary float-right">{{nb_unread_reports.space_combat}}</span>
                      {% endif %}
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/reports/?category=land_combat" rel="keep-params" class="nav-link {% if category == 'land_combat' %}hover{% endif %}">
                      <span class="span_centering_icon"><i class="fas fa-person-rifle"></i></span>
                      {% trans "Combats terestres"%}
                      {% if nb_unread_reports.land_combat %}
                        <span class="report_count badge bg-primary float-right">{{nb_unread_reports.land_combat}}</span>
                      {% endif %}
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/reports/?category=government" rel="keep-params" class="nav-link {% if category == 'government' %}hover{% endif %}">
                      <span class="span_centering_icon"><i class="fas  fa-landmark"></i></span>
                      {% trans "Gouvernement"%}
                      {% if nb_unread_reports.government %}
                        <span class="report_count badge bg-primary float-right">{{nb_unread_reports.government}}</span>
                      {% endif %}
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/reports/?category=diplomacy" rel="keep-params" class="nav-link {% if category == 'diplomacy' %}hover{% endif %}">
                      <span class="span_centering_icon"><i class="fas  fa-tower-cell"></i></span>
                      {% trans "Diplomatie"%}
                    </a>
                    {% if nb_unread_reports.diplomacy %}
                        <span class="report_count badge bg-primary float-right">{{nb_unread_reports.diplomacy}}</span>
                      {% endif %}
                  </li>
                  <li class="nav-item">
                    <a href="/reports/?category=economy" rel="keep-params" class="nav-link {% if category == 'economy' %}hover{% endif %}">
                      <span class="span_centering_icon"><i class="fas  fa-coins"></i></span>
                      {% trans "Economie"%}
                      {% if nb_unread_reports.economy %}
                        <span class="report_count badge bg-primary float-right">{{nb_unread_reports.economy}}</span>
                      {% endif %}
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/reports/?category=colony" rel="keep-params" class="nav-link {% if category == 'colony' %}hover{% endif %}">
                      <span class="span_centering_icon"><i class="fas  fa-city"></i></span>
                      {% trans "Colonies"%}
                      {% if nb_unread_reports.colony %}
                        <span class="report_count badge bg-primary float-right">{{nb_unread_reports.colony}}</span>
                      {% endif %}
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/reports/?category=fleets" rel="keep-params" class="nav-link {% if category == 'fleets' %}hover{% endif %}">
                      <span class="span_centering_icon"><i class="fas  fa-jet-fighter"></i></span>
                      {% trans "Flottes"%}
                      {% if nb_unread_reports.fleets %}
                        <span class="report_count badge bg-primary float-right">{{nb_unread_reports.fleets}}</span>
                      {% endif %}
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/reports/?category=exploration" rel="keep-params" class="nav-link {% if category == 'exploration' %}hover{% endif %}">
                      <span class="span_centering_icon"><i class="fas  fa-sun"></i></span>
                      {% trans "Exploration"%}
                      {% if nb_unread_reports.exploration %}
                        <span class="report_count badge bg-primary float-right">{{nb_unread_reports.exploration}}</span>
                      {% endif %}
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/reports/?category=technologies" rel="keep-params" class="nav-link {% if category == 'technologies' %}hover{% endif %}">
                      <span class="span_centering_icon"><i class="fas  fa-flask"></i></span>
                      {% trans "Technologies"%}
                      {% if nb_unread_reports.technologies %}
                        <span class="report_count badge bg-primary float-right">{{nb_unread_reports.technologies}}</span>
                      {% endif %}
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/reports/?category=other" rel="keep-params" class="nav-link {% if category == 'other' %}hover{% endif %}">
                      <span class="span_centering_icon"><i class="fas  fa-file-alt"></i></span>
                      {% trans "Autres"%}
                      {% if nb_unread_reports.other %}
                        <span class="report_count badge bg-primary float-right">{{nb_unread_reports.other}}</span>
                      {% endif %}
                    </a>
                  </li>
                </ul>
              </div>

              <!-- /.card-body -->
            </div>
            <!-- /.card -->
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">{% trans "Archives"%}</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <div class="card-body p-0">
                <ul class="nav nav-pills flex-column">
                  <li class="nav-item">
                    <a href="/reports/?status=unread" rel="keep-params" class="nav-link {% if status == 'unread' %}hover{% endif %}">
                      <span class="span_centering_icon"><i class="fas fa-envelope"></i></span>
                      {% trans "Non-lus seulement"%}
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/reports/?status=not_archived" rel="keep-params" class="nav-link {% if status == 'not_archived' %}hover{% endif %}">
                      <span class="span_centering_icon"><i class="fas fa-file"></i></span>
                      {% trans "Rapports courants"%}
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/reports/?status=archived" rel="keep-params" class="nav-link {% if status == 'archived' %}hover{% endif %}">
                      <span class="span_centering_icon"><i class="fas fa-file-zipper"></i></span>
                      {% trans "Rapports archivés"%}
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/reports/?status=all" rel="keep-params" class="nav-link {% if status == 'all' %}hover{% endif %}">
                      <span class="span_centering_icon"><i class="fas fa-copy"></i></span>
                      {% trans "Tous les rapports"%}
                    </a>
                  </li>
                </ul>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->


            <a href="compose.html" class="btn btn-primary btn-block mb-3">{% trans "Tout marquer comme lu"%}</a>

            <a href="compose.html" class="btn btn-outline-primary btn-block mb-3">{% trans "Télécharger les rapports"%}</a>


          </div>
          <!-- /.col -->
          <div class="col-md-10">
            <div class="card card-primary card-outline">
              <div class="card-header">
                <h3 class="card-title">{% trans "Rapports"%}</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm">
                    <input type="text" class="form-control"  name="search_text"
                           placeholder="{% trans "Recherche"%}"
                           {% if search_text %} value="{{search_text}}" {% endif %}>
                    <div class="input-group-append">
                      <button  type="submit" name="search" value="search"  class="btn btn-primary">
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <!-- /.card-tools -->
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0">
                <div class="mailbox-controls">
                  <!-- Check all button -->
                  <button type="button" class="btn btn-default btn-sm checkbox-toggle"
                          data-toggle="tooltip" data-placement="bottom" title="{% trans "Tout sélectionner"%}"><i class="far fa-square"></i>
                  </button>

                  <!-- Delete button -->
                  <button type="submit" name="action" value="delete" class="btn btn-default btn-sm"
                          data-toggle="tooltip" data-placement="bottom" title="{% trans "Supprimer"%}">
                    <i class="far fa-trash-alt"></i>
                  </button>

                  <div class="btn-group">

                    <!-- Read button -->
                    <button type="submit" name="action" value="read" class="btn btn-default btn-sm"
                          data-toggle="tooltip" data-placement="bottom" title="{% trans "Marquer comme lu"%}">
                      <i class="fas fa-envelope-open-text"></i>
                    </button>

                    <!-- Unread button -->
                    <button type="submit" name="action" value="unread" class="btn btn-default btn-sm"
                          data-toggle="tooltip" data-placement="bottom" title="{% trans "Marquer comme non-lu"%}">
                      <i class="fas fa-envelope"></i>
                    </button>
                  </div>

                  <div class="btn-group">
                    <!-- Archive button -->
                    <button type="submit" name="action" value="archive" class="btn btn-default btn-sm"
                          data-toggle="tooltip" data-placement="bottom" title="{% trans "Archiver"%}">
                      <i class="fas fa-file-zipper"></i>
                    </button>
                    <!-- Unrchive button -->
                    <button type="submit" name="action" value="unarchive" class="btn btn-default btn-sm"
                          data-toggle="tooltip" data-placement="bottom" title="{% trans "Désarchiver"%}">
                      <i class="fas fa-file"></i>
                    </button>
                  </div>

                  <div class="float-right">
                    1-50/200
                    <div class="btn-group">
                      <button type="button" class="btn btn-default btn-sm">
                        <i class="fas fa-chevron-left"></i>
                      </button>
                      <button type="button" class="btn btn-default btn-sm">
                        <i class="fas fa-chevron-right"></i>
                      </button>
                    </div>
                    <!-- /.btn-group -->
                  </div>
                  <!-- /.float-right -->
                </div>
                <div class="table-responsive mailbox-messages" style="padding-bottom: 5px;">
                  <table class="table table-hover table-striped">
                    <tbody>

                    {% for report in reports %}

                      <tr class="{{report.status}}{% if dark_mode %}-dark{% endif %}" style="white-space: nowrap;">
                        <td>
                          <div class="icheck-primary">
                            <input type="checkbox" name="reports[]" value="{{report.id}}" id="{{report.id}}">
                            <label for="{{report.id}}"></label>
                          </div>
                        </td>

                        <td class="mailbox-attachment"><i class="fas {{report.category_icon}}"></i></td>
                        <td class="mailbox-date">{{report.datetime}}</td>


                        <td class="mailbox-date pointer_cursor" onclick="window.location='/report/?report_id={{report.id}}';">
                          <img class="img_without_td_padding" src="{% static ""%}{{report.illustration}}" style=""></td>

                        {% if not report.sender %}  <!-- No originating commandant mentioned, take all remaining place-->
                          <td class="mailbox-subject text-ellipsis pointer_cursor" colspan="3" onclick="window.location='/report/?report_id={{report.id}}';">
                            <b>{{report.title}}</b> - {{report.message}}></td>

                        {% else %} <!-- Let place for the reference of commandant originating the report-->
                          <td class="mailbox-subject text-ellipsis"><b>{{report.title}}</b> - {{report.message}}></td>

                          <td class="mailbox-name"><a href='/commandant_info/?pseudo="{{report.sender}}"'>{{report.sender}}</a></td>
                          <td class="mailbox-date" style="padding-right: 0px;"><a href='/commandant_info/?pseudo="{{report.sender}}"'>
                            <img class="img_without_td_padding" src="{% static ""%}{{report.sender_image}}" style=""></a></td>
                        {% endif %}

                      </tr>
                    {% endfor %}


                    </tbody>
                  </table>
                  <!-- /.table -->
                </div>
                <!-- /.mail-box-messages -->
              </div>
              <!-- /.card-body -->
              <div class="card-footer p-0">
                <div class="mailbox-controls">
                  <!-- Check all button -->
                  <button type="button" class="btn btn-default btn-sm checkbox-toggle"
                          data-toggle="tooltip" data-placement="bottom" title="{% trans "Tout sélectionner"%}"><i class="far fa-square"></i>
                  </button>

                  <!-- Delete button -->
                  <button type="submit" name="action" value="delete" class="btn btn-default btn-sm"
                          data-toggle="tooltip" data-placement="bottom" title="{% trans "Supprimer"%}">
                    <i class="far fa-trash-alt"></i>
                  </button>

                  <div class="btn-group">

                    <!-- Read button -->
                    <button type="submit" name="action" value="read" class="btn btn-default btn-sm"
                          data-toggle="tooltip" data-placement="bottom" title="{% trans "Marquer comme lu"%}">
                      <i class="fas fa-envelope-open-text"></i>
                    </button>

                    <!-- Unread button -->
                    <button type="submit" name="action" value="unread" class="btn btn-default btn-sm"
                          data-toggle="tooltip" data-placement="bottom" title="{% trans "Marquer comme non-lu"%}">
                      <i class="fas fa-envelope"></i>
                    </button>
                  </div>

                  <div class="btn-group">
                    <!-- Archive button -->
                    <button type="submit" name="action" value="archive" class="btn btn-default btn-sm"
                          data-toggle="tooltip" data-placement="bottom" title="{% trans "Archiver"%}">
                      <i class="fas fa-file-zipper"></i>
                    </button>
                    <!-- Unrchive button -->
                    <button type="submit" name="action" value="unarchive" class="btn btn-default btn-sm"
                          data-toggle="tooltip" data-placement="bottom" title="{% trans "Désarchiver"%}">
                      <i class="fas fa-file"></i>
                    </button>
                    </div>
                    <!-- /.btn-group -->
                  </div>
                  <!-- /.float-right -->
                </div>
              </div>
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->

      </form>

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

<script>
  $(function () {
    //Enable check and uncheck all functionality
    $('.checkbox-toggle').click(function () {
      var clicks = $(this).data('clicks')
      if (clicks) {
        //Uncheck all checkboxes
        $('.mailbox-messages input[type=\'checkbox\']').prop('checked', false)
        $('.checkbox-toggle .far.fa-check-square').removeClass('fa-check-square').addClass('fa-square')
      } else {
        //Check all checkboxes
        $('.mailbox-messages input[type=\'checkbox\']').prop('checked', true)
        $('.checkbox-toggle .far.fa-square').removeClass('fa-square').addClass('fa-check-square')
      }
      $(this).data('clicks', !clicks)
    })

    //Handle starring for font awesome
    $('.mailbox-star').click(function (e) {
      e.preventDefault()
      //detect type
      var $this = $(this).find('a > i')
      var fa    = $this.hasClass('fa')

      //Switch states
      if (fa) {
        $this.toggleClass('fa-star')
        $this.toggleClass('fa-star-o')
      }
    })
  })

// Keep current page parameters when following a filter link
$("a[rel~='keep-params']").click(function(e) {
    e.preventDefault();

    // Get the current URL parameters
    var currentParams = new URLSearchParams(window.location.search);

    // Get the URL of the clicked link
    var href = $(this).attr('href');
    var url = new URL(href, window.location.origin);

    // Get the parameters from the link
    var linkParams = new URLSearchParams(url.search);

    // Merge parameters, avoiding duplicates
    linkParams.forEach(function(value, key) {
        currentParams.set(key, value); // Replace the parameter if it already exists
    });

    // Build the final URL
    var dest = url.origin + url.pathname + '?' + currentParams.toString();

    // Short timeout to overcome browser bugs
    window.setTimeout(function() {
        window.location.href = dest;}, 100);
});

</script>

</body>
</html>
