
{% load i18n %}
{% load static %}


{% include "includes/header.html" with title="Ressources" %}

{% include "includes/menu_game.html" %}  <!-- include body start -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>{% trans "Ressources"%} </h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <div class="col-12">

        <!-- Dernier groupe de boutons aligné à droite -->
        <div class="d-flex justify-content-end">
            <div class="btn-group btn-group-toggle flex-wrap" data-toggle="buttons">

                <!-- ALL CATEGORIES -->
                <label class="btn btn-app text-center {% if selected_category == 'all' %}btn-secondary{% else %}btn-default{% endif %}"
                         onclick="window.location.href='?selected_category=all'">
                    <i class="fas fa-infinity"></i>
                    <input type="radio" name="options" id="all" autocomplete="off" {% if selected_category == 'all' %}checked{% endif %}>
                    {% trans "Tout" %}
                </label>

                <!-- SPECIFIC CATEGORY -->
                {% for category in resources_categories %}
                <label class="btn btn-app text-center {% if selected_category == category.internal_name %}btn-secondary{% else %}btn-default{% endif %}"
                       onclick="window.location.href='?selected_category={{ category.internal_name }}'">
                    <i class="fas {{ category.icon }}"></i>
                    <input type="radio" name="options" id="{{ category.internal_name }}" autocomplete="off" {% if selected_category == category.internal_name %}checked{% endif %}>
                    {{ category.name_fr }}
                </label>
                {% endfor %}
            </div>

            <!-- Separator -->
            <div class="central-element flex-grow-1 mx-3 text-center">
            </div>

              <div class="btn-group btn-group-toggle flex-wrap" data-toggle="buttons">

                <!-- SHORTAGE -->
                <label class="btn btn-app text-center {% if selected_category == 'shortage' %}btn-secondary{% else %}btn-default{% endif %}"
                       onclick="window.location.href='?selected_category=shortage'">
                  <i class="fas fa-square-xmark"></i>
                  <input type="radio" name="options" id="shortage" autocomplete="off" {% if selected_category == 'shortage' %}checked{% endif %}>
                  {% trans "Pénurie" %}
                </label>

                <!-- DECREASE -->
                <label class="btn btn-app text-center {% if selected_category == 'decrease' %}btn-secondary{% else %}btn-default{% endif %}"
                       onclick="window.location.href='?selected_category=decrease'">
                  <i class="fas fa-square-caret-down"></i>
                  <input type="radio" name="options" id="decrease" autocomplete="off" {% if selected_category == 'decrease' %}checked{% endif %}>
                  {% trans "En baisse" %}
                </label>

                <!-- DECREASE -->
                <label class="btn btn-app text-center {% if selected_category == 'not_sefl_sufficiant' %}btn-secondary{% else %}btn-default{% endif %}"
                       onclick="window.location.href='?selected_category=not_sefl_sufficiant'">
                  <i class="fas fa-square-poll-vertical"></i>
                  <input type="radio" name="options" id="not_sefl_sufficiant" autocomplete="off" {% if selected_category == 'not_sefl_sufficiant' %}checked{% endif %}>
                  {% trans "Non autosuffisant" %}
                </label>

                <!-- UNSOLD -->
                <label class="btn btn-app text-center {% if selected_category == 'full_storage' %}btn-secondary{% else %}btn-default{% endif %}"
                       onclick="window.location.href='?selected_category=full_storage'">
                  <i class="fas fa-square-minus"></i>
                  <input type="radio" name="options" id="full_storage" autocomplete="off" {% if selected_category == 'full_storage' %}checked{% endif %}>
                  {% trans "Plein" %}
                </label>

              </div>
            </div>



            <div class="card">

              <!--
              <div class="card-header">
                <h3 class="card-title">Fixed Header Table</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default">
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              -->

              <!-- /.card-header -->
              <div class="card-body table-responsive p-0" style="height: 78vh;">
                <table class="table table-head-fixed text-nowrap">
                  <thead>
                    <tr>
                      <th>{% trans "Ressource"%}</th>
                      <th>{% trans "Stockage et ordres commerciaux"%}</th>
                      <th>{% trans "Produit"%}</th>
                      <th>{% trans "Consommé"%}</th>
                      <th>{% trans "Solde"%}</th>
                      <th>{% trans "Autosufisance"%}</th>
                      <th>{% trans "Fourniture globale"%}</th>
                      <th>{% trans "Décret"%}</th>
                      <th>{% trans "Effet"%}</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for resource in resources %}
                      <tr>
                        <td><img class="img_without_td_padding" src="{% static ""%}{{resource.icon}}" style="">
                            {{resource.name}}
                        </td>
                        <td>{{resource.stock}} T</td>
                        <td>{{resource.produced}} T</td>
                        <td>{{resource.consumed}} T</td>
                        <td>{{resource.balance}} T</td>
                        <td>{{resource.self_sustainability}} %</td>
                        <td>{{resource.global_supply}} %</td>
                        <td>{{resource.decree}}</td>
                        <td>{{resource.effect}}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!--------------------------------------------------------------------------------------------------------->
          <!-- Corps central -->


    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

</body>
</html>
