
{% load static %}
{% load i18n %}

{% include "includes/header.html" with title="Compte TSS" %}

{% include "includes/menu_public.html" %}  <!-- include body start -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>{% trans "Compte utilisateur"%}</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">

          <!--------------------------------------------------------------------------------------------------------->
          <!-- Corps central -->


          <!-- /.col -->
          <div class="col-md-9">
            <div class="card">
              <div class="card-header p-2">
                <ul class="nav nav-pills">
                  <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">{% trans "Serveurs rejoint"%}</a></li>
                  <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">{% trans "Panthéon"%}</a></li>
                  <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">{% trans "Historique"%}</a></li>
                </ul>
              </div><!-- /.card-header -->
              <div class="card-body" >
                <div class="tab-content">
                  <div class="active tab-pane" id="activity">


                    {% for account in accounts %}

                      <!-- Post -->
                      <div class="post" style=" margin-top:20px; border-bottom: 0px">
                        <div class="user-block" style="margin-top: 30px;">
                          <img class=" img-bordered-sm" src="" alt="user image"
                               style="height: 150px; width: 150px; margin-right: 30px;">
                          <img class=" img-bordered-sm" src="" alt="user image"
                               style="height: 150px; width: 150px; margin-right: 30px;">

                          <span class="username" style="margin-bottom: 10px;">
                            <span class="description" style="font-size: 25px;">
                              <a href="/commandant_login/?server={{account.server}}&commandant_id={{account.id}}" >
                                <!--<i class="fa-solid fa-arrow-right-to-bracket" style="border: 0.5px solid #4f5962;></i>-->
                                {{account.civilisation_name}} / {{account.commandant_name}}

                              </a>
                            </span>
                            <span class="description" style="font-size: 25px;">[Serveur Alpha]</span>
                          </span>
                          <span class="description">{% trans "Statut:"%} {{account.commandant_name}}</span>
                          <span class="description">{% trans "Date de création:"%} {{account.creation_date}}</span>
                          <span class="description">{% trans "Planète capitale:"%} {{account.native_planet}}</span>
                          <span class="description">{% trans "Faction:"%}</span>
                        </div>
                        <!-- /.user-block -->
                      </div>
                      <!-- /.post -->
                    {% endfor %}

                    <!-- Post -->
                    <div class="post" style=" margin-top:20px; border-bottom: 0px">
                      <div class="user-block" style="margin-top: 30px;">
                        <img class=" img-bordered-sm" src="{% static "images/SAO.jpg"%}" alt="user image"
                             style="height: 150px; width: 150px; margin-right: 30px;">
                        <img class=" img-bordered-sm" src="{% static "images/Aurelia.png"%}" alt="user image"
                             style="height: 150px; width: 150px; margin-right: 30px;">

                        <span class="username" style="margin-bottom: 10px;">
                          <span class="description" style="font-size: 25px;">
                            <a href="#" >
                              <!--<i class="fa-solid fa-arrow-right-to-bracket" style="border: 0.5px solid #4f5962;></i>-->
                              Empire de Siravedra / Aurélia de Siravedra
                              
                            </a>
                          </span>
                          <span class="description" style="font-size: 25px;">[Serveur Alpha]</span>
                        </span>
                        <span class="description">{% trans "Statut:"%}</span>
                        <span class="description">{% trans "Date de création:"%}</span>
                        <span class="description">{% trans "Planète capitale:"%}</span>
                        <span class="description">{% trans "Faction:"%}</span>
                      </div>
                      <!-- /.user-block -->
                    </div>
                    <!-- /.post -->


                    <!-- Post -->
                    <div class="post" style=" margin-top:20px; border-bottom: 0px">
                      <div class="user-block" style="margin-top: 30px;">
                        <img class=" img-bordered-sm" src="{% static "images/SAO.jpg"%}" alt="user image"
                             style="height: 150px; width: 150px; margin-right: 30px;">
                        <img class=" img-bordered-sm" src="{% static "images/Wandrille.jpg"%}" alt="user image"
                             style="height: 150px; width: 150px; margin-right: 30px;">

                        <span class="username" style="margin-bottom: 10px;">
                          <span class="description" style="font-size: 25px;">
                            <a href="#" >Empire de Siravedra / Wandrille Corgat</a>
                          </span>
                          <span class="description" style="font-size: 25px;">[Serveur Alpha]</span>
                        </span>
                        <span class="description">{% trans "Status:"%}</span>
                        <span class="description">{% trans "Date de création:"%}</span>
                        <span class="description">{% trans "Planète capitale:"%}</span>
                        <span class="description">{% trans "Faction:"%}</span>
                      </div>
                      <!-- /.user-block -->
                    </div>
                    <!-- /.post -->


                    <!-- Post -->
                    <div class="post" style=" margin-top:20px; border-bottom: 0px">
                      <div class="user-block" style="margin-top: 30px;">

                        <a href="/servers_list/" class="btn btn-block btn-primary">{% trans "Rejoindre un nouveau serveur"%}</a>

                      </div>
                      <!-- /.user-block -->
                    </div>
                    <!-- /.post -->





                  </div>
                  <!-- /.tab-pane -->
                  <div class="tab-pane" id="timeline">
                    <!-- The timeline -->
                    <div class="timeline timeline-inverse">
                      <!-- timeline time label -->
                      <div class="time-label">
                        <span class="bg-danger">
                          10 Feb. 2014
                        </span>
                      </div>
                      <!-- /.timeline-label -->
                      <!-- timeline item -->
                      <div>
                        <i class="fas fa-envelope bg-primary"></i>

                        <div class="timeline-item">
                          <span class="time"><i class="far fa-clock"></i> 12:05</span>

                          <h3 class="timeline-header"><a href="#">Support Team</a> sent you an email</h3>

                          <div class="timeline-body">
                            Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles,
                            weebly ning heekya handango imeem plugg dopplr jibjab, movity
                            jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle
                            quora plaxo ideeli hulu weebly balihoo...
                          </div>
                          <div class="timeline-footer">
                            <a href="#" class="btn btn-primary btn-sm">Read more</a>
                            <a href="#" class="btn btn-danger btn-sm">Delete</a>
                          </div>
                        </div>
                      </div>
                      <!-- END timeline item -->
                      <!-- timeline item -->
                      <div>
                        <i class="fas fa-user bg-info"></i>

                        <div class="timeline-item">
                          <span class="time"><i class="far fa-clock"></i> 5 mins ago</span>

                          <h3 class="timeline-header border-0"><a href="#">Sarah Young</a> accepted your friend request
                          </h3>
                        </div>
                      </div>
                      <!-- END timeline item -->
                      <!-- timeline item -->
                      <div>
                        <i class="fas fa-comments bg-warning"></i>

                        <div class="timeline-item">
                          <span class="time"><i class="far fa-clock"></i> 27 mins ago</span>

                          <h3 class="timeline-header"><a href="#">Jay White</a> commented on your post</h3>

                          <div class="timeline-body">
                            Take me to your leader!
                            Switzerland is small and neutral!
                            We are more like Germany, ambitious and misunderstood!
                          </div>
                          <div class="timeline-footer">
                            <a href="#" class="btn btn-warning btn-flat btn-sm">View comment</a>
                          </div>
                        </div>
                      </div>
                      <!-- END timeline item -->
                      <!-- timeline time label -->
                      <div class="time-label">
                        <span class="bg-success">
                          3 Jan. 2014
                        </span>
                      </div>
                      <!-- /.timeline-label -->
                      <!-- timeline item -->
                      <div>
                        <i class="fas fa-camera bg-purple"></i>

                        <div class="timeline-item">
                          <span class="time"><i class="far fa-clock"></i> 2 days ago</span>

                          <h3 class="timeline-header"><a href="#">Mina Lee</a> uploaded new photos</h3>

                          <div class="timeline-body">
                            <!--
                            <img src="https://placehold.it/150x100" alt="...">
                            <img src="https://placehold.it/150x100" alt="...">
                            <img src="https://placehold.it/150x100" alt="...">
                            <img src="https://placehold.it/150x100" alt="...">
                            -->
                          </div>
                        </div>
                      </div>
                      <!-- END timeline item -->
                      <div>
                        <i class="far fa-clock bg-gray"></i>
                      </div>
                    </div>
                  </div>
                  <!-- /.tab-pane -->

                  <div class="tab-pane" id="settings">
                    <form class="form-horizontal">
                      <div class="form-group row">
                        <label for="inputName" class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-10">
                          <input type="email" class="form-control" id="inputName" placeholder="Name">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                          <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputName2" class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="inputName2" placeholder="Name">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputExperience" class="col-sm-2 col-form-label">Experience</label>
                        <div class="col-sm-10">
                          <textarea class="form-control" id="inputExperience" placeholder="Experience"></textarea>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputSkills" class="col-sm-2 col-form-label">Skills</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="inputSkills" placeholder="Skills">
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="offset-sm-2 col-sm-10">
                          <div class="checkbox">
                            <label>
                              <input type="checkbox"> I agree to the <a href="#">terms and conditions</a>
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="offset-sm-2 col-sm-10">
                          <button type="submit" class="btn btn-danger">Submit</button>
                        </div>
                      </div>
                    </form>
                  </div>
                  <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
              </div><!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->


          <!--------------------------------------------------------------------------------------------------------->
          <!-- Profile  -->

          <div class="col-md-3">

            <div class="card card-primary card-outline">
              <div class="card-body box-profile">

                <h1 class="text-center">{{user.username}}</h1>

                <!--<p class="text-muted text-center">Software Engineer</p>-->

                <ul class="list-group list-group-unbordered mb-3">
                  <li class="list-group-item">
                    <b>{% trans "E-mail"%}</b> <a class="float-right">{{user.email}} <i class="fas fa-pen"></i></a>
                  </li>
                  <li class="list-group-item">
                    <b>{% trans "Mot de passe"%}</b> <a class="float-right">{% trans "Changer"%} <i class="fas fa-pen"></i></a>
                  </li>
                  <li class="list-group-item">
                    <b>{% trans "Date d'inscription"%}</b> <a class="float-right">{{user.date_joined|date:'d/m/Y H:m'}}</a>
                  </li>
                  <li class="list-group-item">
                    <b>{% trans "Dernière connexion"%}</b> <a class="float-right">{{user.last_login|date:'d/m/Y H:m'}}</a>
                  </li>
                </ul>

              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->


            <!--------------------------------------------------------------------------------------------------------->
            <!-- Parametres -->

            <div class="card card-secondary">
              <div class="card-header box-profile">
                <h3 class="card-title">{% trans "Préférences"%}</h3>
              </div>
              <!-- /.card-header -->

              <form action="/user_account/" method="POST">
                  {% csrf_token %}

                <div class="card-body">
                  <ul class="list-group list-group-unbordered mb-3">

                    <li class="list-group-item">
                      <b>{% trans "Langue"%}</b>
                      <select name="language" class="form-control float-right" style="max-width: 150px;" onchange="this.form.submit()">
                            <option value="fr" {% if current_user.language == 'fr' %} selected="selected" {% endif %}>Français</option>
                            <option value="en" {% if current_user.language == 'en' %} selected="selected" {% endif %} >English</option>
                      </select>
                    </li>

                    <li class="list-group-item">
                      <b>{% trans "Affichage"%}</b>
                      <select name="dark_mode" class="form-control float-right" style="max-width: 150px;" onchange="this.form.submit()">
                            <option value="true" {% if current_user.dark_mode %} selected="selected" {% endif %}>{% trans "Mode sombre"%}</option>
                            <option value="false" {% if not current_user.dark_mode %} selected="selected" {% endif %}>{% trans "Mode clair"%}</option>
                      </select>
                    </li>
                  </ul>
                </div>
              </form>

              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>





        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

</body>
</html>
