argh
asgiref
atomicwrites
attrs=
bokeh
click
colorama
Django
django-cors-headers
django-filte
djangorestframework
djongo
Flask
Flask-Cors
itsdangerous
Jinja2
Markdown
MarkupSafe
more-itertools
numpy
packagin
pathtools
Pillow
pluggy
py
pymongo
pyparsing
pytest
pytz
PyYAML
six
sqlparse
torna
typing_extensions
watchdog
wcwidth
Werkzeug

pygame
pylightxl