
{% load i18n %}
{% load static %}


{% include "includes/header.html" with title="TODO" %}

{% include "includes/menu_game.html" %}  <!-- include body start -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>{% trans "TODO"%} </h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">


          <!--------------------------------------------------------------------------------------------------------->
          <!-- Corps central -->


    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

</body>
</html>
