

.menu-separator {
    border-bottom: 1px solid #4f5962;
    margin-top: 7.5px;
    margin-bottom: 7.5px;
}

.menu_bottom_logo {
  width: 92%;
  bottom: 8px;
  position: absolute;
  z-index: -1;
}
@media screen and (max-height: 600px) {
    .menu_bottom_logo {
        display: none;
    }
}


.icon_button {
  max-width: 40px;
  max-height: 40px;
  align-self: last baseline;
}



.links-icons-column {
    font-size: 2em;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    text-align: center;
    max-width: calc(min(60px, 100%));
    white-space: nowrap;
    overflow: hidden;
}


.span_centering_icon{
  min-width: 26px;
  display: inline-block;
  text-align: center;
}

.img_without_td_padding{
  max-width: 3rem;
  margin-top: -0.99rem;
  margin-bottom: -0.75rem;
}

.text-ellipsis{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: min(650px,30vw);
}

.unread-dark{
  background-color: rgb(105, 106, 47) !important;
}
.unread{
  background-color: rgb(237, 238, 153) !important;
}

.archived-dark{
  background-color: rgb(57, 66, 96) !important;
}
.archived{
  background-color: rgb(196, 204, 230) !important;
}

.pointer_cursor {
    cursor: pointer;
}

.report_count{
  padding-top: 0.25em;
  margin-top: 0.25rem;
}

.grey_text{
    color: #999;
}
