

.menu-separator {
    border-bottom: 1px solid #4f5962;
    margin-top: 7.5px;
    margin-bottom: 7.5px;
}

.menu_bottom_logo {
  width: 92%;
  bottom: 8px;
  position: absolute;
  z-index: -1;
}
@media screen and (max-height: 600px) {
    .menu_bottom_logo {
        display: none;
    }
}


.icon_button {
  max-width: 40px;
  max-height: 40px;
  align-self: last baseline;
}



.links-icons-column {
    font-size: 2em;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    text-align: center;
    max-width: calc(min(60px, 100%));
    white-space: nowrap;
    overflow: hidden;
}


.span_centering_icon{
  min-width: 26px;
  display: inline-block;
  text-align: center;
}

.img_without_td_padding{
  max-width: 3rem;
  margin-top: -0.99rem;
  margin-bottom: -0.75rem;
}

.text-ellipsis{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: min(650px,35vw);
}