<!DOCTYPE html>
<html lang="fr">
<head>

    {% load static %}
    {% load i18n %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon according to browser color mode. Not working ?
    <link href="{% static 'images/TSS-logo-white.png' %}" rel="icon" media="(prefers-color-scheme: dark)">
    <link href="{% static 'images/TSS-logo-black.png' %}" rel="icon" media="(prefers-color-scheme: light)">
    -->

    <link rel="shortcut icon" type="image/png" href="{% static 'images/TSS-logo-mini.png' %}" >


    {% if title %}
    <title>{% blocktranslate %} {{title}} {% endblocktranslate %}</title>
    {% else %}
    <title>TSS</title>
    {% endif %}



    <link rel="stylesheet" href="{% static "css/styles.css" %}" >


    <!-- ADMINLTE 3 -->

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="{% static "libraries/fontawesome-free/css/all.min.css" %}" >
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{% static "dist/css/adminlte.css" %}" >  <!-- was adminlte.min.css -->


    <!-- BOKEH -->
    <!--
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-2.4.1.min.css" rel="stylesheet" type="text/css">
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-2.4.1.min.css" rel="stylesheet" type="text/css">
    -->

    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.4.1.min.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.4.1.min.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.4.1.min.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-api-2.4.1.min.js"></script>
    {{ script | safe }}


    <!-- JS SCRIPTS -->

    <script type="text/javascript" src="{% static "libraries/jquery/jquery.min.js" %}" ></script> <!-- jQuery -->
    <script type="text/javascript" src="{% static "libraries/bootstrap/js/bootstrap.bundle.min.js" %}" ></script> <!-- Bootstrap -->
    <script type="text/javascript" src="{% static "dist/js/adminlte.js" %}" ></script> <!-- AdminLTE -->
    <!--<script type="text/javascript" src="{% static "dist/js/demo.js" %}" ></script> --> <!-- AdminLTE for demo purposes -->


    <!-- DataTables -->
    <link rel="stylesheet" href="{% static "libraries/datatables-bs4/css/dataTables.bootstrap4.min.css" %}" >
    <link rel="stylesheet" href="{% static "libraries/datatables-responsive/css/responsive.bootstrap4.min.css" %}" >
    <link rel="stylesheet" href="{% static "libraries/datatables-buttons/css/buttons.bootstrap4.min.css" %}" >
    <script src="{% static "libraries/datatables/jquery.dataTables.min.js" %}" ></script>
    <script src="{% static "libraries/datatables-bs4/js/dataTables.bootstrap4.min.js" %}" ></script>
    <script src="{% static "libraries/datatables-responsive/js/dataTables.responsive.min.js" %}" ></script>
    <script src="{% static "libraries/datatables-responsive/js/responsive.bootstrap4.min.js" %}" ></script>
    <script src="{% static "libraries/datatables-buttons/js/dataTables.buttons.min.js" %}" ></script>
    <script src="{% static "libraries/datatables-buttons/js/buttons.bootstrap4.min.js" %}" ></script>
    <script src="{% static "libraries/jszip/jszip.min.js" %}" ></script>
    <script src="{% static "libraries/pdfmake/pdfmake.min.js" %}" ></script>
    <script src="{% static "libraries/pdfmake/vfs_fonts.js" %}" ></script>
    <script src="{% static "libraries/datatables-buttons/js/buttons.html5.min.js" %}" ></script>
    <script src="{% static "libraries/datatables-buttons/js/buttons.print.min.js" %}" ></script>
    <script src="{% static "libraries/datatables-buttons/js/buttons.colVis.min.js" %}" ></script>


</head>

