
<li class="nav-item
    {% if request.GET.server_name_selected == server_name %} menu-open{% endif %}">
    <a href="#" class="nav-link">
        <i class="nav-icon fas fa-hdd"></i>
        <p>
            Serveur {{server_name}}
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview"
        {% if request.GET.server_name_selected != server_name %} style="display:none" {% endif %}>


        <li class="nav-item">
            <a href="pages/charts/uplot.html" class="nav-link">
                <i class="fas fa-tv nav-icon"></i>
                <p>Vue Générale</p>
            </a>
        </li>

        <li class="nav-item">
            <a href="pages/charts/uplot.html" class="nav-link">
                <i class="fas fa-user nav-icon"></i>
                <p>Commandants</p>
            </a>
        </li>

        <li class="nav-item">
            <a href="pages/charts/uplot.html" class="nav-link">
                <i class="fas fa-chess nav-icon"></i>
                <p>Factions</p>
            </a>
        </li>

        <li class="nav-item">
            <a href="pages/charts/uplot.html" class="nav-link">
                <i class="fas fa-sun nav-icon"></i>
                <p>Géographie</p>
            </a>
        </li>

        <li class="nav-item">
            <a href="pages/charts/uplot.html" class="nav-link">
                <i class="fas fa-city nav-icon"></i>
                <p>Cités</p>
            </a>
        </li>


        <li class="nav-item">
            <a href="pages/charts/uplot.html" class="nav-link">
                <i class="fas fa-space-shuttle nav-icon"></i>
                <p>Flottes</p>
            </a>
        </li>

        <li class="nav-item">
            <a href="pages/charts/uplot.html" class="nav-link">
                <i class="fas fa-drafting-compass nav-icon"></i>
                <p>Design Vaisseaux</p>
            </a>
        </li>

        <li class="nav-item">
            <a href="pages/charts/uplot.html" class="nav-link">
                <i class="fas fa-wrench nav-icon"></i>
                <p>Composants Vaisseaux</p>
            </a>
        </li>

        <li class="nav-item">
            <a href="pages/charts/uplot.html" class="nav-link">
                <i class="fas fa-flask nav-icon"></i>
                <p>Technologies</p>
            </a>
        </li>

        <li class="nav-item">
            <a href="pages/charts/uplot.html" class="nav-link">
                <i class="fas fa-lightbulb nav-icon"></i>
                <p>Modificateurs</p>
            </a>
        </li>

    </ul>
</li>