
{% load static %}
{% load i18n %}

<body class="hold-transition sidebar-mini layout-boxed
             {% if user_account.dark_mode %} dark-mode {% endif %}"
      style="background-image: url({% static 'images/background-space.jpg'%});
             background-size: cover; background-repeat: no-repeat;">


<div class="wrapper">
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-dark">
    <!-- Left navbar links -->
    <ul class="navbar-nav">

      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>

      <li class="nav-item d-none d-sm-inline-block">
        <a href="/admin_main_dashboard/" class="nav-link">Home</a>
      </li>

    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">


      <!-- Navbar Search -->
      <li class="nav-item">
        <a class="nav-link" data-widget="navbar-search" href="#" role="button">
          <i class="fas fa-search"></i>
        </a>

        <div class="navbar-search-block">
          <form class="form-inline">
            <div class="input-group input-group-sm">
              <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
              <div class="input-group-append">
                <button class="btn btn-navbar" type="submit">
                  <i class="fas fa-search"></i>
                </button>
                <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </li>

      <!-- REMOVED Messages Dropdown Menu -->

      <!-- REMOVED Notifications Dropdown Menu -->


      <li class="nav-item">
        <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
          <i class="fas fa-th-large"></i>
        </a>
      </li>
    </ul>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/user_account/" class="brand-link">
      <img src={% static "images/logo/TSS-logo-white.png" %} class="brand-image">
      <span class="brand-text font-weight-light">Thousand Suns Saga</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <!--
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src={% static "dist/img/user2-160x160.jpg" %} class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">Alexander Pierce</a>
        </div>
      </div>
      -->

      <!-- SidebarSearch Form -->
      <!--
      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>
      -->

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->


          <li class="nav-item">
            <a href="/admin_main_dashboard/" class="nav-link">
              <i class="fas fa-server nav-icon"></i>
              <p>{% trans "Vue générale" %}</p>
            </a>
          </li>

          <li class="nav-item">
            <a href="/admin_user_accounts/" class="nav-link">
              <i class="fas fa-users nav-icon"></i>
              <p>{% trans "Comptes" %}</p>
            </a>
          </li>

          <li class="nav-item">
            <a href="/admin_servers_states/" class="nav-link">
              <i class="fas fa-microchip nav-icon"></i>
              <p>{% trans "Etat Serveurs" %}</p>
            </a>
          </li>

          <li class="nav-item">
            <a href="pages/charts/uplot.html" class="nav-link">
              <i class="fas fa-bug nav-icon"></i>
              <p>{% trans "Logs" %}</p>
            </a>
          </li>

          <li class="nav-item">
            <a href="pages/charts/uplot.html" class="nav-link">
              <i class="fas fa-shield-virus nav-icon"></i>
              <p>{% trans "Anti-Cheat" %}</p>
            </a>
          </li>

          <li class="nav-header" style="margin-top: 30px;">SERVEURS DE JEU</li>

          {% for servername in game_servers %}
            {% include "includes/menu_admin_server.html" with server_name=servername %}
          {% endfor %}

          <li class="nav-header" style="margin-top: 30px;">SERVEURS TEST</li>

          {% for servername in test_servers %}
            {% include "includes/menu_admin_server.html" with server_name=servername %}
          {% endfor %}

          <li class="nav-header" style="margin-top: 30px;">SERVEURS PRECEDENTS</li>

          {% for servername in old_servers %}
            {% include "includes/menu_admin_server.html" with server_name=servername %}
          {% endfor %}

        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
