
{% load i18n %}
{% load static %}

<div class="modal fade" id="modal-build_district" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{% trans "Fonder un nouveau district"%}</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>

        <div class="modal-body">
          <table class="table table-stripped" style="width: 100%; table-layout: auto;">

          <thead>
                <tr>
                  <th colspan="2">{% trans "District"%}</th>
                  <th>{% trans "Coût"%}</th>
                  <th>{% trans "Maintenance"%}</th>
                  <th>{% trans "Emplacements"%}</th>
                  <th>{% trans "Ordre"%}</th>
                </tr>
            </thead>
            <tbody>



              {% for district in buildable_districts %}

                  <tr class="" style='white-space: nowrap;'>

                    <td class="mailbox-date" style="width: 0;">
                      <img class="large_img_without_td_padding" src="{% static ""%}{{district.illustration}}" style=""></td>

                    <td class="mailbox-subject" style="font-size: 20px; text-align: center; vertical-align: middle;">
                      <b style="font-size: 25px;"><i class="fas {{district.icon}}"></i></b>
                      <br>
                      <b style="font-size: 20px;">{{district.name}}</b>
                    </td>

                    <td class="" style="vertical-align: middle;">
                      {% for resource in district.build_cost.values %}
                        <span style="color: {% if resource.enough_stockpiles %} #28a745 {% else %} #dc3545 {% endif %} ;">
                          <img class="img_without_td_padding" src="{% static ""%}{{resource.illustration}}" style="max-width: 2rem;">
                          {{resource.quantity}} {{resource.unit_notation}}
                        </span>
                        {% if not forloop.last %}<br>{% endif%}
                      {% endfor %}
                    </td>

                    <td class="" style="vertical-align: middle;">
                      {% for resource in district.maintenance.values %}
                        <span style="color: {% if resource.enough_stockpiles %} #28a745 {% else %} #dc3545 {% endif %} ;"
                              title="{{resource.name}} &#013; {% trans "Stock"%} : {{resource.commandant_storage}} ">
                          <img class="img_without_td_padding" src="{% static ""%}{{resource.illustration}}" style="max-width: 2rem;">
                          {{resource.quantity}} {{resource.unit_notation}}
                        </span>
                        {% if not forloop.last %}<br>{% endif%}
                      {% endfor %}
                    </td>

                    <td class="" style="vertical-align: middle;">
                      <span>{{district.buildings_slots}} {% trans "bâtiments"%}</span><br>
                      {% if district.districts_slots > 0 %}
                      <span>{{district.districts_slots}} {% trans "districts"%}</span><br>
                      {% endif %}
                    </td>

                    <td class="" style="vertical-align: middle;">
                      <button type="button" class="btn {% if district.enough_stockpiles %} btn-primary {% else %} btn-danger disabled {% endif %}"
                              data-dismiss="modal">{% trans "Construire"%}</button>
                    </td>

                  </tr>

              {% endfor %}

            </tbody>
          </table>
        </div>


        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-primary" data-dismiss="modal">{% trans "Annuler"%}</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>